_Software/credentials.json
_Software/token.pickle
_Software/DevelopmentEmailAccountInfo.txt
_Recent
Dawson
Alejandra Lezama
Alisa Heart
Anne-Marie Pelletier
Anne-Sophie Hollender
Aurélie Olivier
Bia Krieger
Bianca Saia
Christophe Magnette
Delphine Deltour
Genevieve Henry
Karine Lapointe
Karine Yviquel
Laurence Michael
Marie-Daniel Lussier
Marie-Josée Boivin
Marie-Michèle Parisien
Nathalie Bouchard
Paul Beaudry
Sylvia Galinier
Valérie Carrier
Yannick Calendreau